## Numbers

In [5]:
var_name = 2+1

In [7]:
print(var_name)

3

In [6]:
type(var_name)

int

reassigning vairables and checking type again

In [8]:
var_name = 2+1.1

In [9]:
print(var_name)

3.1

In [10]:
type(var_name)

float

In [11]:
my_income = 100
tax_rate = .10
my_taxes = my_income * tax_rate
print(my_taxes)

10.0

## Strings

In [12]:
"hello"

'hello'

In [13]:
'hello'

'hello'

In [15]:
str_val = "this's good"
print(str_val)

this's good

In [17]:
str_length = len(str_val)
print(str_length)

11

In [26]:
index_char = str_val[2]
print(index_char)
# last character of the string
last_char = str_val[-1]
print(last_char)

i
d

In [18]:
# slice of the string [start: stop: step]
slice_str = str_val[3:]
print(slice_str)

s's good

In [20]:
slice_str = str_val[:4]
print(slice_str)

this

In [21]:
slice_str = str_val[1:4]
print(slice_str)

his

In [23]:
# with a step of 3 characters
slice_str = str_val[0::3]
print(slice_str)

ts o

In [24]:
rev_str_trick = str_val[::-1]
print(rev_str_trick)

doog s'siht

In [29]:
val = 'Hello World'
print(val.upper())
print(val.lower())

HELLO WORLD
hello world

In [33]:
# strings are imutable in python, need to assign it again to actually update it
# sam to pam
new_str = 'Sam'
# new_str[0] = 'P' => throws error
new_str = 'P'+new_str[1:]
print(new_str)

Pam

In [41]:
# format method
print('My name is {}'.format(new_str))

print('My name is {n} and my age is {a}'.format(a=12,n=new_str))

# using arg index to define formatted text
print('My name is {1} and my age is {0}'.format(12,new_str))

# float formatting {number:width(whitespace).precision(f)}
num = 10.1231231
print('this number is {n:10.2f}'.format(n=num))

My name is Pam
My name is Pam and my age is 12
My name is Pam and my age is 12
this number is      10.12

In [42]:
# string literals
print(f'My name is {new_str}')

My name is Pam

## Lists

In [45]:
my_list = [1,2,3]
print(my_list)
len_list = len(my_list)
print(f'length of string = {len_list}')

[1, 2, 3]
length of string = 3

In [5]:
new_list = [3,1,5,6,8,2]
new_list.append(4)
print(new_list)

[3, 1, 5, 6, 8, 2, 4]

In [6]:
new_list.pop()
print(new_list)
new_list.pop(2)
print(new_list)
new_list.sort()
print(new_list)

[3, 1, 5, 6, 8, 2]
[3, 1, 6, 8, 2]
[1, 2, 3, 6, 8]

In [9]:
copy_list = new_list.sort()
print(copy_list)
new_list.sort()
copy_list = new_list
print(copy_list)

None
[1, 2, 3, 6, 8]

## Dictionary

In [11]:
my_dict = {'k1':1,'k2':2}
print(my_dict['k2'])

2

In [13]:
my_dict = {'k1':'a','k2':'b'}
print(my_dict['k2'].upper())

B

In [18]:
my_dict['k3']=3
my_dict.keys()

dict_keys(['k1', 'k2', 'k3'])

In [19]:
my_dict.values()

dict_values(['a', 'b', 3])

In [20]:
# returns a tuple
my_dict.items()

dict_items([('k1', 'a'), ('k2', 'b'), ('k3', 3)])

## Tuples (immutable)

In [28]:
_tuple = (1,1,2,3)
_list = [1,2,3]
print(type(_tuple))
print(type(_list))

<class 'tuple'>
<class 'list'>

In [27]:
# _tuple[0] = 2 => throws type error

## Sets (unique items)

In [30]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(1)
my_set

{1, 2}

In [31]:
new_list = [1,2,3,2,3,2,3,1,5,6,8,2]
set(new_list)

{1, 2, 3, 5, 6, 8}

In [34]:
set(list('Mississippi'))

{'M', 'i', 'p', 's'}