## Numbers

In [5]:
var_name = 2+1

In [7]:
print(var_name)

3

In [6]:
type(var_name)

int

reassigning vairables and checking type again

In [8]:
var_name = 2+1.1

In [9]:
print(var_name)

3.1

In [10]:
type(var_name)

float

In [11]:
my_income = 100
tax_rate = .10
my_taxes = my_income * tax_rate
print(my_taxes)

10.0

## Strings

In [12]:
"hello"

'hello'

In [13]:
'hello'

'hello'

In [15]:
str_val = "this's good"
print(str_val)

this's good

In [17]:
str_length = len(str_val)
print(str_length)

11

In [26]:
index_char = str_val[2]
print(index_char)
# last character of the string
last_char = str_val[-1]
print(last_char)

i
d

In [18]:
# slice of the string [start: stop: step]
slice_str = str_val[3:]
print(slice_str)

s's good

In [20]:
slice_str = str_val[:4]
print(slice_str)

this

In [21]:
slice_str = str_val[1:4]
print(slice_str)

his

In [23]:
# with a step of 3 characters
slice_str = str_val[0::3]
print(slice_str)

ts o

In [24]:
rev_str_trick = str_val[::-1]
print(rev_str_trick)

doog s'siht

In [29]:
val = 'Hello World'
print(val.upper())
print(val.lower())

HELLO WORLD
hello world

In [33]:
# strings are imutable in python, need to assign it again to actually update it
# sam to pam
new_str = 'Sam'
# new_str[0] = 'P' => throws error
new_str = 'P'+new_str[1:]
print(new_str)

Pam

In [41]:
# format method
print('My name is {}'.format(new_str))

print('My name is {n} and my age is {a}'.format(a=12,n=new_str))

# using arg index to define formatted text
print('My name is {1} and my age is {0}'.format(12,new_str))

# float formatting {number:width(whitespace).precision(f)}
num = 10.1231231
print('this number is {n:10.2f}'.format(n=num))

My name is Pam
My name is Pam and my age is 12
My name is Pam and my age is 12
this number is      10.12

In [42]:
# string literals
print(f'My name is {new_str}')

My name is Pam